/* AHHHHHHHHHH */
/*-----------------Contacto-----------------*/
ul {
  list-style: none;
  padding: 0; }

.titulo__contacto {
  text-align: center;
  font-size: 2.5em;
  color: #531b1b; }
  .titulo__contacto span {
    color: #660166; }

.formulario__contacto__conjunto {
  box-shadow: 0 0 20px 0 rgba(22, 22, 22, 0.9);
  background: #574a64; }
  .formulario__contacto__conjunto > * {
    padding: 1em;
    font-family: 'Montagu Slab', serif;
    line-height: 1.6; }
  .formulario__contacto__conjunto .formulario__contacto form {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .formulario__contacto__conjunto .formulario__contacto form p {
      margin: 1;
      padding: 1em; }
      .formulario__contacto__conjunto .formulario__contacto form p label {
        display: block; }
    .formulario__contacto__conjunto .formulario__contacto form .bloque_check, .formulario__contacto__conjunto .formulario__contacto form .bloque_texto {
      grid-column: 1 / 3; }
    .formulario__contacto__conjunto .formulario__contacto form .bloque_check {
      display: flex;
      align-items: center; }
    .formulario__contacto__conjunto .formulario__contacto form select,
    .formulario__contacto__conjunto .formulario__contacto form input,
    .formulario__contacto__conjunto .formulario__contacto form textarea {
      width: 100%;
      padding: .5em;
      border: none;
      background: none;
      outline: none;
      border: 1px solid coral; }
    .formulario__contacto__conjunto .formulario__contacto form .enviar:hover, .formulario__contacto__conjunto .formulario__contacto form .enviar :focus, .formulario__contacto__conjunto .formulario__contacto form .limpiar:hover, .formulario__contacto__conjunto .formulario__contacto form .limpiar :focus {
      background-color: coral;
      color: beige;
      transition: background-color .5s ease-in; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.padre {
  background-color: bisque; }

a {
  text-decoration: none; }

/* -------header------ */
.header {
  background: url(../imagenes/logo.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 15%;
  margin: auto; }

.header h2 {
  font-size: 8rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center; }

.header h3 {
  font-size: 5rem;
  font-weight: bold;
  text-align: center; }

.menu__navbar {
  display: flex;
  justify-content: space-around; }

.navbar-nav a {
  color: #740574;
  font-size: 3rem;
  padding: 1rem; }

.navbar-nav a:hover {
  color: #68073b; }

/* ------body index-------- */
.contenido p {
  align-items: flex-start;
  text-align: center;
  font-size: 3rem;
  font-style: italic;
  color: brown;
  padding: 5rem;
  line-height: 150%; }

.carousel-inner p {
  color: #06261d;
  font-style: unset; }

.contenido h2 {
  padding: 2rem;
  font-size: 3rem;
  font-family: cursive;
  font-weight: 100; }

.col-lg-6 {
  padding: 25px; }

.imagen_proyecto img {
  width: 100%;
  height: 100%; }

.imagen_proyecto img:hover {
  border: solid 5px bisque; }

.col-lg-2 {
  margin: 0;
  padding: 25px; }

/* --------footer-------- */
.footer {
  display: flex;
  padding: 1.5rem;
  background-color: black;
  border-top: 0.5rem solid lavender; }

.footer__navbar {
  /* display: flex;
    align-items: space-around; */
  font-size: 125%; }

.footer__navbar li {
  font-size: 125%;
  list-style: none;
  padding-top: 0.5rem; }

.footer__navbar a {
  color: white; }

.footer__navbar a:hover {
  color: pink; }

.footer p {
  flex: 1 1; }

/* ----------------body historia---------------- */
.contenido__historia p {
  align-items: flex-start;
  text-align: center;
  font-size: 3rem;
  font-style: italic;
  color: brown;
  line-height: 150%; }

.contenido__bocetos {
  display: flex;
  flex-wrap: wrap; }

.contenido__bocetos img {
  width: 25%;
  padding: 50px; }

.contenido__bocetos img:hover {
  transform: scale(1.2, 1.2); }

/* ------Imagenes Productos-------- */
.tarjeta_productos {
  border: solid black; }

.tarjeta_productos {
  height: cover;
  background-color: #aca175;
  text-align: center; }

/* ------pantallas grandes-------- */
@media (max-width: 768px) {
  /*-------responsive formulario---------*/
  .formulario__contacto__conjunto {
    display: grid;
    grid-template-columns: 2fr; }
  .formulario__contacto__conjunto > * {
    padding: 2em; }
  /* --------responsive header---------- */
  .header h2 {
    grid-area: h2;
    grid-column: 1 / 6;
    font-size: 5.8em; }
  .header h3 {
    grid-area: h3;
    grid-column: 1 / 6;
    font-size: 3.8rem; }
  .contenido p {
    font-size: 0%; }
  .contenido h2 {
    font-size: 2em;
    padding-left: .5em; }
  /*------------- responsive historia-------- */
  .contenido__bocetos img {
    padding: 0%; }
  .contenido__historia p {
    font-size: small; } }
