@import "utilities/variables";
@import "views/contactos";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.padre {
    background-color: rgb(255, 228, 196);
}

a {
    text-decoration: none;
}

/* -------header------ */
.header {
    background: url(../imagenes/logo.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 15%;
    margin: auto;
}

.header h2 {
    font-size: 8rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.header h3 {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
}

.menu__navbar {
    display: flex;
    justify-content: space-around;
}

.navbar-nav a {
    color: rgb(116, 5, 116);
    font-size: 3rem;
    padding: 1rem;

}

.navbar-nav a:hover {
    color: rgb(104, 7, 59);
}

/* ------body index-------- */

.contenido p {
    align-items: flex-start;
    text-align: center;
    font-size: 3rem;
    font-style: italic;
    color: brown;
    padding: 5rem;
    line-height: 150%;
}

.carousel-inner p {
    color: rgb(6, 38, 29);
    font-style: unset;
}

.contenido h2 {
    padding: 2rem;
    font-size: 3rem;
    font-family: cursive;
    font-weight: 100;
}

.col-lg-6 {
    padding: 25px;
}

.imagen_proyecto img {
    width: 100%;
    height: 100%;
}

.imagen_proyecto img:hover {
    border: solid 5px rgb(255, 228, 196);
}

.col-lg-2 {
    margin: 0;
    padding: 25px;
}

/* --------footer-------- */

.footer {
    display: flex;
    padding: 1.5rem;
    background-color: black;
    border-top: 0.5rem solid lavender;
}

.footer__navbar {
    /* display: flex;
    align-items: space-around; */
    font-size: 125%;
}

.footer__navbar li {
    font-size: 125%;
    list-style: none;
    padding-top: 0.5rem;
}

.footer__navbar a {
    color: white;
}

.footer__navbar a:hover {
    color: pink
}

.footer p {
    flex: 1 1;
}

/* ----------------body historia---------------- */

.contenido__historia p {
    align-items: flex-start;
    text-align: center;
    font-size: 3rem;
    font-style: italic;
    color: brown;
    line-height: 150%;
}

.contenido__bocetos {
    display: flex;
    flex-wrap: wrap;
}

.contenido__bocetos img {
    width: 25%;
    padding: 50px;
}

.contenido__bocetos img:hover {
    transform: scale(1.2, 1.2);

}

/* ------Imagenes Productos-------- */
.tarjeta_productos {
    border: solid black;
}

.tarjeta_productos {
    height: cover;
    background-color: rgb(172, 161, 117);
    text-align: center;
}



/* ------pantallas grandes-------- */

@media (max-width: 768px) {

    /*-------responsive formulario---------*/
    .formulario__contacto__conjunto {
        display: grid;
        grid-template-columns: 2fr;
    }

    .formulario__contacto__conjunto>* {
        padding: 2em;
    }

    /* --------responsive header---------- */

    .header h2 {
        grid-area: h2;
        grid-column: 1 / 6;
        font-size: 5.8em;
    }

    .header h3 {
        grid-area: h3;
        grid-column: 1 / 6;
        font-size: 3.8rem;
    }

    .contenido p {
        font-size: 0%;
    }

    .contenido h2 {
        font-size: 2em;
        padding-left: .5em;
    }

    /*------------- responsive historia-------- */

    .contenido__bocetos img {
        padding: 0%;
    }

    .contenido__historia p {
        font-size: small;
    }


}