/* ------pantallas grandes-------- */

@media (max-width: 768px) {

    /*-------responsive formulario---------*/
    .formulario__contacto__conjunto {
        display: grid;
        grid-template-columns: 2fr;
        justify-content: center;
    }

    .formulario__contacto__conjunto>* {
        padding: 0.5em;
    }

    /* --------responsive header---------- */


    .header {
        background: none;
        h1 {
            grid-area: h2;
            grid-column: 1 / 6;
            font-size: 5.8em;

            h2 {
                grid-area: h3;
                grid-column: 1 / 6;
                font-size: 3.8rem;
            }
        }
    }

    .contenido {
        p {
            font-size: 0%;
        }

        h3 {
            font-size: 2em;
            padding-left: .5em;
        }
    }

    .navbar-nav {
        li {
            font-size: small;
        }
    }


    /*------------- responsive historia-------- */

    .contenido {
        &__bocetos img {
            padding: 0%;
        }

        &__historia p {
            font-size: x-large;
        }
    }

    /* --------- responsive proyectos----------- */

    .proyecto {
        p {
            font-size: x-large;
        }

        h3 {
            font-size: x-large;
        }
    }

    /* ---------- responsive productos----------- */

    .productos__grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        flex-basis: 100%;

    }

}