$img-productos:(
    aritos_perla: url('../imagenes/aritos_bolitas.jpg'),
    anillos_triangulo: url('../imagenes/anillos_triangulo.jpg'),
    anillos_corazon: url('../imagenes/anillo_corazon.jpg'),
    aritos_teddy: url('../imagenes/aritos_oso.jpg'),
    pulsera_dije: url('../imagenes/cadenita.jpg'),
    anillos_monos: url('../imagenes/anillos_moños.jpg'),
    pulsera_corazon: url('../imagenes/cadenita_corazon.jpg'),
    cadenita_teddy: url('../imagenes/cadenita_oso.jpg')

);

.background-size{
    width: 190px;
    height: 150px;
}
.background-centrado{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@each $name, $url in $img-productos {
    .img_#{$name} {
        @extend .background-centrado;
        @extend .background-size;
        background-image: #{$url};
    }
}

.botones{
    background: #574a64;
    &:hover,
            :focus {
                background-color: coral;
                color: beige;
                transition: background-color .5s ease-in;
            }
}