/* -------header------ */
.header {
    background: url(../imagenes/logo.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 15%;
    margin: auto;
    h1{
        font-size: 8rem;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
    }
    h2{
        font-size: 5rem;
        font-weight: bold;
        text-align: center;
    }
    & .menu__navbar{
        display: flex;
        justify-content: space-around;
        & .navbar-nav a{
            color: rgb(116, 5, 116);
            font-size: 3rem;
            padding: 1rem;
            &:hover{
                color: rgb(104, 7, 59)
            }
        }
    }
}