/* --------Proyectos---------- */

.proyecto {
    &__historia {
        p {
            align-items: flex-start;
            text-align: center;
            font-size: 3rem;
            font-style: italic;
            color: brown;
            line-height: 150%;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }

    &__final {
        p {
            align-items: flex-start;
            text-align: center;
            font-size: 3rem;
            font-style: italic;
            color: brown;
            line-height: 150%;
            padding-top: 2rem;
        }
        h3 {
            font-family: $font-secundaria;
            text-align: center;
            font-size: 3rem;
            padding-top: 4rem;
            padding-left: 1rem;
            padding-right: 1rem;
            
        }
        img {
            width: 100%;
            height: 100%;
        }
    }

}